body {
font-family:Consolas;
margin:0;
}
div#menu{
    width: auto;
    text-align: center;
}
img#logo{
    width: 400;
}
td{
    width: 160px;
    text-align: center;
    
}
button#menu {
    width: 90%;
    border: 0px;
    border-color:#FFFFF2;
    border-radius: 2px;
    text-align: center;
}
a#menu {
    cursor: pointer;
    font-size: 30;
    font-family: Calibri;
    color: rgba(100,100,100,0.99);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
